.header {
  align-items: center;
  background-color: #282c34;
  display: flex;
  height: 80px;
  justify-content: space-between;
  padding-left: 72px;
}

.logo {
  width: 80px;
}

.wrapper {
  gap: 16pxpx;
  padding-left: 180px;
  padding-right: 180px;
  padding-top: 40px;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: flex-end;
}

.boxInfo {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 534px;
}

.infos {
  display: flex;
  gap: 72px;
}

.input {
  border: solid 1px grey;
  border-radius: 10px;
  height: 48px;
  padding-left: 18px;
}

.title {
  margin-right: 0;
}

.button {
  background-color: #2F2D38;
  border: 0;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  height: 48px;
  width: 280px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}